<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ion-item (click)="addPhoto()">
    <ion-label>Foto: </ion-label>
    <ion-avatar>
      <ion-img [src]="photoValidator"></ion-img>
    </ion-avatar>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Nombre completo: </ion-label>
    <ion-input type="text" formControlName="fullName"></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Número de contacto: </ion-label>
    <ion-input type="number" formControlName="phone"></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label position="floating">Password: </ion-label>
    <ion-input type="password" formControlName="password"></ion-input>
  </ion-item>
  <ion-button expand="block" color="primary" type="submit" [disabled]="!form.valid">Registrar</ion-button>
</form>